
---
import Layout from "../layouts/Layout.astro"
import Phone from "../../public/phone.svg"
import Email from "../../public/email.svg"
import Location from "../../public/location.svg"
import Business from "../../public/business.svg"

import { MapComponent } from "../components/Map"


interface Contact{
    icon:ImageMetadata,
    contact:string,
    title:string
}

    const contactMethods:Contact[] = [
        {
            title:"Email",
            icon:Email,
            contact: "ventas1@mmosse.com.ar"
        },
        {
            title:"Telefono",
            icon:Phone,
            contact: "+1 (555) 000-000"
        },
        {
            title:"Atencion al Cliente",
            icon:Location,
            contact: "San Juan 313, SMT."
        },
         {
            title:"Atencion a Empresas",
            icon:Business,
            contact: "Pje Río de Janeiro 50, SMT"
        },
    ]
---
          <Layout title="Contactanos">
            <section class="py-14 px-4">
            <div class="w-full mx-auto text-gray-600 md:px-8">
                <div class="max-w-lg mx-auto gap-12 lg:flex lg:max-w-none">
                    <div class="w-full space-y-3 flex items-center justify-between">
                        <div class="max-w-lg">
                            <p class="text-gray-800 text-3xl font-semibold sm:text-4xl mb-4">
                                Let us know how we can help
                            </p>
                            <p>
                                We’re here to help and answer any question you might have, We look forward to hearing from you! Please fill out the form, or us the contact information bellow .
                            </p>
                        </div>
                        <div>
                            <ul class="mt-12 grid grid-cols-2 gap-4">
                                {
                                    contactMethods.map((item) => (
                                        <li>
                                            <h4 class="text-gray-800 text-lg font-medium">{item.title}</h4>
                                            <div class="mt-3 flex items-center gap-x-3">
                                            <img  class="w-6 h-6" src={item.icon.src} alt="">
                                            <p>{item.contact}</p>
                                            </div>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <MapComponent client:only />
            </div>
        </section>
        </Layout>
      

        </style>
        