

---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Quienes Somos">
    <section class="w-full">
        <div class="bg-gray-50 p-16 w-full h-[26rem] flex flex-col justify-center  ">
            <div class="flex items-center justify-between w-[85%] ">
                <div class="flex flex-col gap-8">
                    <h1 class="text-4xl font-bold">Quienes Somos?</h1>
                    <p class="max-w-[450px] pl-2 text-lg font-light ">HubSpot’s company and culture are a lot like our product. They’re crafted, not cobbled, for a delightful experience.</p>
                </div>
                <img src="/public/photo.jpg" class=" w-[22rem] " alt="" >
            </div>
        </div>
        <div class="flex gap-10 px-5 py-5 items-center mt-20">
            <img src="/public/photo.jpg" class="flex-1 w-56" alt="" >
            <div class="flex-1">
                <h2 class="text-3xl font-bold">Nuestra Misión</h2>
                <p class="text-lg font-light tracking-tight text-gray-500 mt-5">
                    Nuestra empresa es el resultado del trabajo continuo y el esfuerzo de Mauricio Mossé en sus más de cuarenta años de trabajo.

                    Hoy ampliamos nuestra cartera de productos, proveedores y servicios para brindar una atención integral en Bioquímica, Medicina y Salud en general.
                    
                    Incorporamos profesionales del medio como asesores técnicos y comerciales para dar a nuestros clientes amplias posibilidades de crecimiento laboral y optimización tecnológica en sus desarrollos personales.
                    
                    Nos distingue nuestro servicio de entrega puerta a puerta y un stock permanente de productos esenciales para la Salud, priorizando la urgencia del profesional y la vida de las personas.
                </p>
            </div>
        </div>
        <div class="flex items-center px-5 gap-10 mt-20">
            <div class="flex-1">
                <h2 class="text-3xl font-bold">Nuestra Historia</h2>
                <p class="text-lg font-light tracking-tight text-gray-500 mt-5">
                    Nuestra empresa es el resultado del trabajo continuo y el esfuerzo de Mauricio Mossé en sus más de cuarenta años de trabajo.

                    Hoy ampliamos nuestra cartera de productos, proveedores y servicios para brindar una atención integral en Bioquímica, Medicina y Salud en general.
                    
                    Incorporamos profesionales del medio como asesores técnicos y comerciales para dar a nuestros clientes amplias posibilidades de crecimiento laboral y optimización tecnológica en sus desarrollos personales.
                    
                    Nos distingue nuestro servicio de entrega puerta a puerta y un stock permanente de productos esenciales para la Salud, priorizando la urgencia del profesional y la vida de las personas.
                </p>
            </div>
            <img src="/public/photo.jpg" class="flex-1 w-56" alt="" >
        </div>
    </section>
    <section>
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
              <img alt="feature" class="object-cover object-center h-full w-full" src="https://images.unsplash.com/photo-1582719202047-76d3432ee323?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            </div>
            <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
                <h2 class="text-3xl font-bold my-10">Nuestros Valores</h2>
              <div class="flex flex-col mb-10 lg:items-start items-center">
                <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Escuchamos, pensamos y queremos lo mejor para el Cliente.</h2>
                </div>
              </div>
              <div class="flex flex-col mb-10 lg:items-start items-center">
                <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                    <circle cx="6" cy="6" r="3"></circle>
                    <circle cx="6" cy="18" r="3"></circle>
                    <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Soluciones satisfactorias siempre.</h2>
                </div>
              </div>
              <div class="flex flex-col mb-10 lg:items-start items-center">
                <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Productos de Calidad confirmada.</h2>
                </div>
              </div>
              <div class="flex flex-col mb-10 lg:items-start items-center">
                <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Servicio serio y profesional todos los días.</h2>
                </div>
              </div>
            </div>
          </div>
    </section>
</Layout>