

<section class="py-28 relative bg-blue-600">
    <img src="/Lab.avif" class="w-full h-full absolute top-0 left-0 z-0 object-cover"/>
    <div class="relative z-10 max-w-screen-xl mx-auto px-4 md:text-center md:px-8">
        <div class="max-w-xl md:mx-auto">
            <p class="text-white text-3xl font-semibold sm:text-4xl">
                Trabaja con Nosotros
            </p>
            <p class="text-blue-100 mt-3">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident.
            </p>
        </div>
        <div class="mt-4">
            <a href="javascript:void(0)" class="btn">
                <span>Contactanos</span>
            </a>
        </div>
    </div>
    <div class="absolute top-0 w-full h-full" style="background: linear-gradient(268.24deg, rgba(59, 130, 246, 0.76) 50%, rgba(59, 130, 246, 0.545528) 80.61%, rgba(55, 48, 163, 0) 117.35%);"></div>
</section>


<style>
.btn {
 display: inline-block;
 border-radius: 4px;
 background-color: transparent;
 border: 1px solid white;
 color: #FFFFFF;
 text-align: center;
 font-size: 17px;
 padding: 12px;
 width: 130px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
}

.btn span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}

.btn span:after {
 content: '»';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -15px;
 transition: 0.5s;
}


.btn:hover span {
 padding-right: 15px;
}

.btn:hover span:after {
 opacity: 1;
 right: 0;
}
</style>