---
import Refresh from "../../public/Refresh.svg"
import Analytics from "../../public/Analytics.svg"
import Data from "../../public/Data.svg"


interface Features{
    icon:ImageMetadata,
    title:string,
    desc:string,
    href:string
}    
const features:Features[] = [
        {
            icon:Refresh,
            title: "Laboratorio",
            desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius, enim ex faucibus purus.",
            href: "javascript:void(0)"
        },
        {
            icon:Analytics,
            title: "Covatec",
            desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius, enim ex faucibus purus.",
            href: "javascript:void(0)"
        },
        {
            icon:Data,
            title: "Medicina del Hogar",
            desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius, enim ex faucibus purus.",
            href: "javascript:void(0)"
        },
    ]

---

<section class="py-14 mt-10">
    <h2 class="mb-10 text-blue-900 pl-4 text-3xl font-extrabold leading-none tracking-tight  md:text-4xl dark:text-white">Nuestros Productos</h2>
    <div class="max-w-screen-xl mx-auto px-4 text-gray-600 md:px-8 ">
        <ul class="grid gap-y-8 gap-x-12 sm:grid-cols-2 lg:grid-cols-3">
            {
                features.map((item, idx) => (
                    <li  class="flex gap-x-4  card">
                        <div class="flex-none w-12 h-12 bg-indigo-600 text-white rounded-lg flex items-center justify-center">
                            <img src={item.icon.src} alt="">
                        </div>
                        <div class="space-y-3">
                            <h4 class="text-lg text-gray-800 font-semibold">
                                {item.title}
                            </h4>
                            <p>
                                {item.desc}
                            </p>
                            <a  href={item.href} class="text-sm link text-indigo-600 duration-150 hover:text-indigo-400 font-medium inline-flex items-center gap-x-1">
                                Learn more
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                                    <path fill-rule="evenodd" d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                    </li>
                ))
            }
        </ul>
    </div>
</section>

<style>
    .card{
}
.card .link{
    opacity: 0;
    transition: opacity ease-in-out 200ms
}
.card:hover .link{
  opacity: 1;
}
</style>