---
import Refresh from "../../public/Refresh.svg"
import Analytics from "../../public/Analytics.svg"
import Data from "../../public/Data.svg"


interface Features{
    icon:ImageMetadata,
    title:string,
    desc:string,
    href:string
}    
const features:Features[] = [
        {
            icon:Refresh,
            title: "Laboratorio",
            desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius, enim ex faucibus purus.",
            href: "javascript:void(0)"
        },
        {
            icon:Analytics,
            title: "Covatec",
            desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius, enim ex faucibus purus.",
            href: "javascript:void(0)"
        },
        {
            icon:Data,
            title: "Medicina del Hogar",
            desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, nisl eget molestie varius, enim ex faucibus purus.",
            href: "javascript:void(0)"
        },
    ]

---

<section class="py-14 mt-10">
    <h2 class="mb-10 text-blue-900 pl-4 text-3xl font-extrabold leading-none tracking-tight  md:text-4xl dark:text-white">Nuestros Productos</h2>
    <div class="space-y-8 px-4 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            {
                features.map((item, idx) => (
                <a href={item.title === "Medicina del Hogar" ? "/Medicina-del-Hogar" :`/${item}`} class="hover:shadow-lg p-3 rounded-lg ">
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                    <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                </div>
                <h3 class="mb-2 text-xl text-blue-900 font-bold dark:text-white">{item.title}</h3>
                <p class="text-gray-500 dark:text-gray-400">{item.desc}</p>
               </a>
                ))
            }
        </div>
</section>

<style>
    .card{
}
.card .link{
    opacity: 0;
    transition: opacity ease-in-out 200ms
}
.card:hover .link{
  opacity: 1;
}
</style>